    /*
    Flaticon icon font: Flaticon
    Creation date: 10/07/2017 10:56
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-music:before { content: "\f100"; }
.flaticon-vertical-resizing-option:before { content: "\f101"; }
.flaticon-folder:before { content: "\f102"; }
.flaticon-play-button:before { content: "\f103"; }
.flaticon-teacher-pointing-blackboard:before { content: "\f104"; }
.flaticon-underline-text-button:before { content: "\f105"; }
.flaticon-paint-board-and-brush:before { content: "\f106"; }
.flaticon-frame-landscape:before { content: "\f107"; }
.flaticon-move-arrows:before { content: "\f108"; }
.flaticon-right-arrow:before { content: "\f109"; }
.flaticon-next:before { content: "\f10a"; }
.flaticon-align-to-left:before { content: "\f10b"; }
.flaticon-align-to-right:before { content: "\f10c"; }
.flaticon-italicize-text:before { content: "\f10d"; }
.flaticon-undo-arrow:before { content: "\f10e"; }
.flaticon-add:before { content: "\f10f"; }
.flaticon-numbered-list:before { content: "\f110"; }
.flaticon-center-text-alignment:before { content: "\f111"; }
.flaticon-list-with-dots:before { content: "\f112"; }
.flaticon-delete:before { content: "\f113"; }
.flaticon-redo-arrow:before { content: "\f114"; }
.flaticon-download-button:before { content: "\f115"; }
.flaticon-rubbish-bin:before { content: "\f116"; }
.flaticon-list:before { content: "\f117"; }
.flaticon-save:before { content: "\f118"; }
.flaticon-back:before { content: "\f119"; }
.flaticon-text:before { content: "\f11a"; }
.flaticon-bold-text-option:before { content: "\f11b"; }
    
    $font-Flaticon-music: "\f100";
    $font-Flaticon-vertical-resizing-option: "\f101";
    $font-Flaticon-folder: "\f102";
    $font-Flaticon-play-button: "\f103";
    $font-Flaticon-teacher-pointing-blackboard: "\f104";
    $font-Flaticon-underline-text-button: "\f105";
    $font-Flaticon-paint-board-and-brush: "\f106";
    $font-Flaticon-frame-landscape: "\f107";
    $font-Flaticon-move-arrows: "\f108";
    $font-Flaticon-right-arrow: "\f109";
    $font-Flaticon-next: "\f10a";
    $font-Flaticon-align-to-left: "\f10b";
    $font-Flaticon-align-to-right: "\f10c";
    $font-Flaticon-italicize-text: "\f10d";
    $font-Flaticon-undo-arrow: "\f10e";
    $font-Flaticon-add: "\f10f";
    $font-Flaticon-numbered-list: "\f110";
    $font-Flaticon-center-text-alignment: "\f111";
    $font-Flaticon-list-with-dots: "\f112";
    $font-Flaticon-delete: "\f113";
    $font-Flaticon-redo-arrow: "\f114";
    $font-Flaticon-download-button: "\f115";
    $font-Flaticon-rubbish-bin: "\f116";
    $font-Flaticon-list: "\f117";
    $font-Flaticon-save: "\f118";
    $font-Flaticon-back: "\f119";
    $font-Flaticon-text: "\f11a";
    $font-Flaticon-bold-text-option: "\f11b";