body{
	padding:0;
	margin:0;
}
.hide{
	display:block;
}
#projectName{
	text-align:center;
	background-color:rgba(200,200,200,0.5);
	position:fixed;
	width:100%;
	z-index:35;
}
/*icon style*/
.myicon{
	width:3rem;
	height:3rem;
	position: absolute;
	right:1px;
	bottom:1px;
	text-align:center;
	background-color:white;
	border:0.1rem solid black;
	border-radius:100%;
}
.myicon:not(#setMenuPos):not(#ticketClose):not(.ticket-addmenu-nohover):hover{
	border:0.2rem solid black;
}
.myicon>span{
	font-size:1.2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*menu*/

#menu{
	width:15vw;
	height:15vw;
	position: fixed;
	right:1px;
	bottom:1px;
	z-index:100;
}
#menu>*{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
	z-index:20;
}
#logo{
	width:60%;
	height:60%;
	position:absolute;
	right:1px;
	bottom:1px;
	padding:0.1rem;
	background-color:white;
	border:0.1rem solid black;
	border-radius:100%;
}
#logo>img{
	width:100%;
	height:auto;
}
#textEditMenu{
	display:none;
	width:18rem;
	position:absolute;
	right:65%;
	bottom:24%;
}

#textEditMenu .myicon{
	box-sizing:border-box;
	position:relative;
	float:right;
}
#add{
	right:60%;
	bottom:1px;
}
#edit{
	box-sizing:border-box;
	right:65%;
	bottom:24%;
}
#save{
	right:57%;
	bottom:47%;
}
#open{
	right:38%;
	bottom:63%;
}
#openInput{
	display:none;
}
#presentationMode span:before{
	font-size:0.8rem !important;
}
#presentationMode{
	right:0%;
	bottom:0%;
	width:1rem;
	height:1rem;
	color:red;
	border-color:red;
	z-index:101;
}
#setMenuPos{
	width:4rem;
	height:4rem;
	right:6%;
	bottom:66%;
}

#setMenuPos>div{
	position: absolute;
	width:50%;
	height:50%;
}
#setMenuPos>div	:hover{
	border-width:2px;
}
#menuPosLeftTop{
	width:50%;
	height:50%;
	left:0;
	top:0;
	border-right:1px solid black;
	border-bottom:1px solid black;
}
#menuPosRightTop{
	right:0;
	top:0;
	border-left:1px solid black;
	border-bottom:1px solid black;
}
#menuPosLeftBottom{
	left:0;
	bottom:0;
	border-right:1px solid black;
	border-top:1px solid black;
}
#menuPosRightBottom{
	right:0;
	bottom:0;
	border-left:1px solid black;
	border-top:1px solid black;
}
.color-buble{
	display:none;
	position:absolute;
	width:1.2rem;
	height:1.2rem;
	border-radius:5rem;
	border:0.05rem solid black;
}
#red{
	background-color:red;
	top:1rem;
	left:-1.2rem;
}
#black{
	background-color:black;
	top:2.2rem;
	left:-0.8rem;
}
#green{
	background-color:green;
	top:2.9rem;
	left:0.2rem;
}
#blue{
	background-color:blue;
	top:2.9rem;
	left:1.4rem;
}