/*ticket*/
*[contenteditable=true]{
	outline: none;
}
img*{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.arrow{
	z-index:-999;
}
.ticket{
	width:15rem;
	height:20rem;
	min-height:15rem;	
	min-width:15rem;	
	position:absolute;
	border:0.05rem solid black;
	background-color:white;
}
.ticket.myicon:hover{
	border:none;
}
.ticket .myicon{
	z-index:1;
	width:1.5rem;
	height:1.5rem;
	color:rgba(0,0,0,0.1);
	border-color:rgba(0,0,0,0.1);
}
.move-ticket{
	border:none;
	width:2rem !important;
	height:2rem !important;
	left:-1.5rem;
	top:-1.5rem;
	background-color:rgba(0,0,0,0);
}
.move-ticket span::before{
	border:none;
	font-size:2rem !important;
}
.resize-ticket{
	border:none;
	width:1.5rem !important;
	height:1.5rem !important;
	
	right:0rem;
	bottom:0rem;
	
	background-color:rgba(0,0,0,0);
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
.resize-ticket span::before{
	font-size:1.5rem !important;
	border:none;
}
.line-icon{
	border:none;
	width:1rem !important;
	height:1rem !important;
}
.line-icon span::before{
	border:none;
	font-size:1rem !important;	
}
.line-left-ticket{
	left:-1rem;
	top:50%;
}
.line-right-ticket{
	right:-1rem;
	top:50%;	
}
.line-top-ticket{
	top:-1rem;
	right:45%;
}
.line-bottom-ticket{
	bottom:-1rem;
	right:45%;
}

.ticket .myicon span:before{
	font-size:1rem;
}
.ticket-addmenu>ul>li .myicon{
	position:relative;
	
}
.ticket-addmenu>ul li:last-child{
	margin-top:2rem;
}
.ticket-addmenu>ul>li{
	list-style-type:none;
}
.ticket-addmenu{
	position:absolute;
	right:-1rem;
	top:10%;
	padding:0.1rem;
	box-sizing:border-box;
	z-index:1;
}

.ticket-content{
	width:100%;
	height:auto;
	min-height:80%;
	margin-right:1rem;
	
}
.ticket-content>pre{
	width:100%;
	height:100%;
	white-space: pre-line;
	
}
.checkListElement{
	list-style-type:none;
}
.image-input{
	display:none;
}
.ticket pre{
	z-index:5;
}
.content-img{
	width:100%;
	height:100%;	
	display:block;
}

/*confirm message*/
#removeTicketConfirm{
	width:100vw;
	height:100vh;
	background-color:rgba(77, 77, 77,0.5);
	position:absolute;
	z-index:40;
	display:none;
}
#removeTicketMessageBox{
	width:20vw;
	height:15vh;
	background-color:white;
	text-align:center;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing:border-box;
	padding:1.5rem;
	border:0.1rem solid black;
}
#removeTicketMessageBox>h2{
	text-align:center
}
#removeTicketMessageBox>button{
	border: 0.1rem solid black;
	border-radius:0;
	background-color:white;
}
#ticketClose{
	top:-1rem;
	right:-1rem;
	
}
#ticketClose>span{
	font-size:0.2rem;
}
.title-text{
	font-size:1.1rem;
}