	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/07/2017 10:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-size: 20px;
font-style: normal;
}

.flaticon-music:before { content: "\f100"; }
.flaticon-vertical-resizing-option:before { content: "\f101"; }
.flaticon-folder:before { content: "\f102"; }
.flaticon-play-button:before { content: "\f103"; }
.flaticon-teacher-pointing-blackboard:before { content: "\f104"; }
.flaticon-underline-text-button:before { content: "\f105"; }
.flaticon-paint-board-and-brush:before { content: "\f106"; }
.flaticon-frame-landscape:before { content: "\f107"; }
.flaticon-move-arrows:before { content: "\f108"; }
.flaticon-right-arrow:before { content: "\f109"; }
.flaticon-next:before { content: "\f10a"; }
.flaticon-align-to-left:before { content: "\f10b"; }
.flaticon-align-to-right:before { content: "\f10c"; }
.flaticon-italicize-text:before { content: "\f10d"; }
.flaticon-undo-arrow:before { content: "\f10e"; }
.flaticon-add:before { content: "\f10f"; }
.flaticon-numbered-list:before { content: "\f110"; }
.flaticon-center-text-alignment:before { content: "\f111"; }
.flaticon-list-with-dots:before { content: "\f112"; }
.flaticon-delete:before { content: "\f113"; }
.flaticon-redo-arrow:before { content: "\f114"; }
.flaticon-download-button:before { content: "\f115"; }
.flaticon-rubbish-bin:before { content: "\f116"; }
.flaticon-list:before { content: "\f117"; }
.flaticon-save:before { content: "\f118"; }
.flaticon-back:before { content: "\f119"; }
.flaticon-text:before { content: "\f11a"; }
.flaticon-bold-text-option:before { content: "\f11b"; }